{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    
<div class="signup-login">
        <div class="signup-box">
            
<form action="" method='post'>
                {% csrf_token %}
                <div class="heading">
                    Update the task
                </div>
                <a href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                
                <input type="text" name='title' class='imp' required 
                value='{{task.title}}'>

                <a href="{% url 'todo' %}">
                    <input type="submit" class="submit-button" value="Update Task">
                </a>
</form>

        </div>
    </div>



</body>
</html>